# Specify a different separator for branch names

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    pull-request-branch-name:
      # Separate sections of the branch name with a hyphen because docker hub doesn't want slashes
      # for example, `dependabot-npm_and_yarn-next_js-acorn-6.4.1`
      separator: '-'
    versioning-strategy: increase-if-necessary
    open-pull-requests-limit: 2
