node_modules
apps/user-office-frontend/node_modules
apps/user-office-core-e2e/node_modules
apps/user-office-core-e2e/cypress/screenshots
apps/user-office-backend/node_modules
apps/user-office-frontend/src/generated
