# all
**/package-lock.json
**/node_modules/
**/.github/workflows/
**/README.md
**/.vscode/
**/src/generated/

# backend
/apps/backend/src/datasources/stfc/UOWSSoapInterface.ts
/apps/backend/docker-compose-stfc.e2e.yml

# e2e
/apps/e2e/cypress/fixtures/