# all
**/package-lock.json
**/node_modules/
**/.github/workflows/
**/README.md
**/.vscode/
**/src/generated/

# backend
/apps/user-office-backend/src/datasources/stfc/UOWSSoapInterface.ts
/apps/user-office-backend/docker-compose-stfc.e2e.yml

# core-e2e
/apps/user-office-core-e2e/cypress/fixtures/