version: '3.1'

services:
  # used to proxy the core UI FE and BE requests to the right container
  # Core FE is accessible on localhost:33000/
  # Core BE is accessible on localhost:33000/graphql
  proxy:
    image: traefik:2.10 # The official Traefik docker image
    command:
      #- "--log.level=DEBUG"
      - '--api.insecure=true'
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.web.address=:80'
    ports:
      - '33000:80' # The HTTP port
      - '8080:8080' # The Web UI (enabled by --api)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.traefik.rule=Host(`localhost`)'
      - 'traefik.http.routers.traefik.entrypoints=web'
      - 'traefik.http.routers.traefik.service=api@internal'
  db:
    image: postgres:11-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: duopassword
      POSTGRES_USER: duouser
      POSTGRES_DB: duo
    ports:
      - '5432:5432'
    volumes:
      - ./apps/user-office-backend/db_patches/:/docker-entrypoint-initdb.d/

  factory:
    image: 'ghcr.io/userofficeproject/user-office-factory:develop'
    init: true
    environment:
      - NODE_ENV=development
      - DATABASE_HOSTNAME=db
      - DATABASE_PORT=5432
      - DATABASE_USER=duouser
      - DATABASE_PASSWORD=duopassword
      - DATABASE_DATABASE=duo
    cap_add:
      - SYS_ADMIN
    depends_on:
      - db

  frontend:
    image: 'ghcr.io/userofficeproject/user-office-frontend:develop'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.frontend.rule=(Host(`localhost`) && PathPrefix(`/`))'
    depends_on:
      - backend

  backend:
    image: 'ghcr.io/userofficeproject/user-office-backend:develop'
    environment:
      DATABASE_URL: postgres://duouser:duopassword@db:5432/duo
      secret: qMyLZALzs229ybdQXNyzYRdju7X784TH
      tokenLife: 7d
      baseURL: localhost:33000
      SPARKPOST_TOKEN: dummytoken
      NODE_ENV: development
      UO_FEATURE_DISABLE_EAM: 1
      USER_OFFICE_FACTORY_ENDPOINT: http://factory:4500/generate
      RABBITMQ_HOSTNAME: rabbitmq
      AUTH_DISCOVERY_URL: http://host.docker.internal:5000/.well-known/openid-configuration
      AUTH_CLIENT_ID: useroffice
      AUTH_CLIENT_SECRET: useroffice
      DEPENDENCY_CONFIG: e2e
      TZ: Europe/Stockholm
      DATE_FORMAT: dd-MM-yyyy
      DATE_TIME_FORMAT: dd-MM-yyyy HH:mm
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.services.backend.loadbalancer.server.port=4000'
      - 'traefik.http.routers.backend.rule=(Host(`localhost`) && PathPrefix(`/api`, `/downloads`, `/files`, `/download`, `/uploads`, `/graphql`))'
    depends_on:
      - duo-development-authorization-server
      - db
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  duo-development-authorization-server:
    image: 'ghcr.io/userofficeproject/user-office-development-authorization-server:develop'
    ports:
      - 5000:5000
    environment:
      DATABASE_URL: postgres://duouser:duopassword@db:5432/duo
      PORT: 5000
    depends_on:
      - db
