:root {
  --palette-primary-dark: #001e62;
  --palette-primary-main: #003088;
  --palette-primary-light: #1e5df8;
  --palette-secondary-dark: #d77900;
  --palette-secondary-main: #ff9d1b;
  --palette-secondary-light: #ffb149;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--palette-primary-dark);
}

/* Drawer icons */
.MuiDrawer-root .MuiListItemIcon-root {
  color: var(--palette-primary-main);
}

/* Drawer close icon */
.MuiDrawer-root .MuiIconButton-root {
  color: var(--palette-primary-main);
}

/* Table row buttons */
.MuiTable-root .MuiTableRow-root .MuiIconButton-root:not(.Mui-disabled) {
  color: var(--palette-primary-main);
}

/* Table search icon */
.MuiGrid-root .MuiToolbar-root .MuiInputAdornment-positionStart:not(.Mui-disabled) {
  color: var(--palette-primary-main);
}

/* Table show columns icon */
.MuiGrid-root .MuiToolbar-root .MuiIconButton-root:not(.Mui-disabled) {
  color: var(--palette-primary-dark);
}

/* Table drop-down icons */
.MuiGrid-root .MuiFormControl-root .MuiInput-root > svg {
  fill: var(--palette-primary-main);
}

/* Table search clear button, date pickers */
.MuiFormControl-root .MuiInputAdornment-positionEnd button:not(.Mui-disabled) {
  color: var(--palette-primary-main);
}

/* Table pagination icons */
.MuiTablePagination-input > svg {
  fill: var(--palette-primary-main);
}

/* Drop-down icons */
.MuiSvgIcon-root.MuiSelect-icon {
  fill: var(--palette-primary-main);
}

/* 'Box' search icon */
.MuiBox-root .MuiToolbar-root .MuiInputAdornment-positionStart:not(.Mui-disabled) {
  color: var(--palette-primary-main);
}

/* 'Box' buttons */
.MuiBox-root .MuiIconButton-root:not(.Mui-disabled) {
  color: var(--palette-primary-main);
}

/* Role icons */
.MuiList-root .MuiMenuItem-root:not(.Mui-disabled) svg {
  fill: var(--palette-primary-main);
}

/* Logo image - ensures min 1/4 of the height is padding */
.header-logo {
  max-height: 71.4%;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}