body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiPaper-elevation2.MuiPaper-root {
  box-shadow: none;
}

.MuiFormLabel-asterisk {
  color: red;
}

.MuiList-root .MuiListItem-root.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiList-root .MuiCollapse-wrapper .MuiListItem-root {
  padding-left: 26px;
}

.tinyScroll::-webkit-scrollbar {
  -webkit-appearance: none;
  max-height: 10px;
  max-width: 10px;
}

.tinyScroll::-webkit-scrollbar-thumb {
  border: 2px solid white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*------ Mobile view improvements ------*/

div.MuiToolbar-root[class*='MTableToolbar-highlight'] {
  flex-wrap: wrap;
}

/*------ Mobile view improvements ------*/
