site_name: User Office Documentation
theme:
  name: material
  features:
    - navigation.top
    - content.tooltips
  palette:
    primary: green
    accent: green
extra:
  version:
    provider: mike
    default: latest
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde