name: Build && Push

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the develop branch
on:
  push:
    branches: [develop,staging]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3

      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: |
          # Extract branch name
          BRANCH_NAME=${GITHUB_REF#refs/heads/}

          # set output variable accessible in the action
          echo ::set-output name=branch::${BRANCH_NAME}

      # For debugging capture the selected branch
      - name: Extracted branch
        run: echo "Extracted branch ${{ steps.extract_branch.outputs.branch }}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend
        uses: docker/build-push-action@v3
        with:
          context: ./apps/user-office-backend
          file: ./apps/user-office-backend/Dockerfile
          push: true
          # NOTE: We use two different tags to be able to push the images to both: Github registry and DockerHub
          # If you want to get rid of pushing to DockerHub later just remove the first line in tags.
          tags: |
            dmsc/duo-backend:${{ steps.extract_branch.outputs.branch }}
            ghcr.io/userofficeproject/user-office-backend:${{ steps.extract_branch.outputs.branch }}

      - name: Build and push frontend
        uses: docker/build-push-action@v3
        with:
          context: ./apps/user-office-frontend
          file: ./apps/user-office-frontend/Dockerfile
          push: true
          # NOTE: We use two different tags to be able to push the images to both: Github registry and DockerHub
          # If you want to get rid of pushing to DockerHub later just remove the first line in tags.
          tags: |
            dmsc/duo-frontend:${{ steps.extract_branch.outputs.branch }}
            ghcr.io/userofficeproject/user-office-frontend:${{ steps.extract_branch.outputs.branch }}

      - name: Trigger pipeline
        run: |
          REPOSITORY=${{ github.repository }}
          RESULT=$(curl -X POST \
            -F token="${{ secrets.GITLAB_TRIGGER_TOKEN }}" \
            -F ref=master \
            -F "variables[RUN_DEPLOY]=1" \
            -F "variables[BRANCH]=${{ steps.extract_branch.outputs.branch }}" \
            -F "variables[REPOSITORY]=${REPOSITORY#UserOfficeProject/}" \
            -o /dev/null \
            --silent \
            --write-out '%{http_code}' \
            ${{ secrets.GITLAB_TRIGGER_URL }})

          if [[ $RESULT != "201" ]]; then
            echo "Failed to trigger Gitlab pipeline: $RESULT"
            exit 1
          fi

      - name: Trigger Jenkins
        if: ${{ steps.extract_branch.outputs.branch == 'develop' }} # Only trigger Jenkins for develop branch
        run: |
          curl -k -l -u ${{ secrets.STFC_CI_TRIGGER_USERNAME }}:${{ secrets.STFC_CI_TRIGGER_TOKEN }} "${{ secrets.STFC_CI_TRIGGER_BASE_URL }}/Dev_Deploy_ProposalFrontend.LatestImage/build?token=${{ secrets.STFC_CI_TRIGGER_URL_TOKEN }}"
